.icons-wrap {
  @apply m-auto text-center;
}

.search {
  margin: 5rem 0;
}

.background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  position: fixed;
  transition: opacity 0.5s;
}

.winnower {
  @apply fixed right-0 bottom-0;
}
