.icons-wrap {
  @apply m-auto text-center relative;
}

.search {
  margin: 5rem 0;
}

.background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  position: fixed;
  transition: opacity 0.5s;
}

.editable {
  @apply absolute right-0 top-[-20px] h-[20px] w-[20px] p-4 box-content;
}

.winnower {
  @apply fixed right-0 bottom-0;
}
